<library path="lib/libmimic_controller">
  <class name="robot_control/MimicController" type="robot_control::MimicController" base_class_type="controller_interface::ControllerBase">
		<description>
			mimic dynamics controller for standard ROS control
		</description>
	</class>
  <class name="robot_control/MimicEffortController" type="robot_control::MimicEffortController" base_class_type="controller_interface::ControllerBase">
		<description>
			mimic dynamics controller for standard ROS control
		</description>
	</class>

</library>
